.my-creations {
  flex: 1 ;
}
.my-creations .creation div.creation-item {
  max-width: 300px;
  width: 300px;
}
@media (max-width: 30rem) {
  .my-creations .creation div.creation-item {
    max-width: none;
    width: 100%;
  }
}
.my-creations .creation div.creation-item .video-box {
  position: relative;
  width: 100%;
  padding-top: calc(9 / 16 * 100%);
  background-color: red;
}
.my-creations .creation div.creation-item p.title {
  width: 100%;
  font-size: 1rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.my-creations .creation div.creation-item p.title a {
  color: white;
  text-decoration: none;
}
.my-creations .creation div.creation-item p.title a:hover {
  text-decoration: underline;
}
