// out: false

// 其他自定义样式

@import url("./markdownVar.less");

// 行内小标题
span.tag-Inline-title {
    display: inline-block;
    width: 5rem;
    margin-right: 0.5rem;
    font-weight: bold;
    color: @md-inline-title;
    text-shadow: 0 0 2px rgba(127, 209, 255, 0.3);
}
